body{
    text-align:center;
    margin:0% 15% 15% 15%; 
    font-family: 'Times New Roman', Times, serif;  
}
h1{
    text-decoration: underline;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    font-family: 'Times New Roman', Times, serif;
}
.contact-details
{
    font-family: cursive;
}
.card{
  display: inline-block;
}
.card-columns {
  @include media-breakpoint-only(lg) {
    column-count: 4;
  }
  @include media-breakpoint-only(xl) {
    column-count: 5;
  }
}
