body
{
	padding:0%;
	margin:0%;
	text-align:center;
	background: url(../images/Connecticut.jpg);
	background-size:cover;
	font-family: sans-serif;
}
.contact-title
{
margin-top:10%;
color:#ffffff;
text-transform: uppercase;
transition: all 4s ease-in-out;
}
.contact-form
{

}
form{
	margin-top:5%;
}
.form-control
{
background:transparent;
height:5%;
width:40%;
border:none;
border-bottom: 1px solid gray;
transition: all 4s ease-in-out;
color:#ffffff;
}
form .submit
{
	background-color:#ff5722;
	border-color:transparent;
	background-color:transparent;
	color:#ffffff;
}
form .submit:hover
{
	cursor:pointer;
	background-color: #f44336;
}