body{
    padding: 0% 10% 0% 10%;
    text-align:center;
    margin-bottom:10%   
}
.flex-container {
  display: flex;
  
}
.flex-container >card{
width:20%;
margin:5%;
display:inline-block;
}
p{
    font-size: 150%;
}
#contact
{
    font-style:italic;
}
nav{
    background-color:black;
    height:25%;
}
nav a{
    display:inline-block;
    color:white;
}
nav a:hover{
    text-decoration: underline;
    font-weight: bold; 
    background-color: white;
    color:black; 
}

header{
    background-image: radial-gradient(url("assets/North Carolina.jpg"),white) ;
}
header h1{
    text-transform: uppercase;
    font-size: 300%;
    text-decoration: underline;
}
.carouselExampleSlidesOnly img{
object-fit: cover;
}
.carouselExampleSlidesOnly
{
    float: left;
}

.card-img-top {
    
}

div h3{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 200%;
    text-decoration: underline;
}
